@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Orbit&family=Orbitron:wght@400..900&display=swap');
html,body{font-family: "Orbitron","Orbit", sans-serif;}



.container{display: flex;}

.header{width: 400px;height: 100vh; position: fixed; left: 0; top: 0; background: linear-gradient(45deg,rgb(94, 180, 180),black); color: #fff; display: flex; flex-direction: column; justify-content: space-between; box-sizing: border-box; padding: 150px 0 150px 50px; transition: width 0.5s;}

.header_title>p:nth-child(1){font-size: 48px; font-weight: bold;}
.header_title>p:nth-child(1)::after{content: "";display: block;width: 150px; border-top: 2px solid #fff; margin: 20px 0;}
.header_title>p:nth-child(2){color: rgba(255,255,255,0.7);}



.sns{display: flex;}
.sns>li{ font-weight: bold;color: rgba(255,255,255,0.7); font-size: 14px; margin-right: 20px; transition: all 0.5s;}

.sns>li:hover{color: rgba(255,255,255,1);}
.main{margin-left: 400px;width: calc(100% - 400px); box-sizing: border-box;padding: 20px; background: linear-gradient(45deg,rgb(101, 138, 138),black); min-height: 100vh;}



.btns{display: flex; justify-content: flex-end;}
.btns>li{margin-left: 10px;font-size: 14px; background-color: #ebebeb;width: 100px; height: 26px; text-align: center; line-height: 26px; border-radius: 5px; box-shadow:0 0 10px rgba(0,0,0,0.1);cursor: pointer; color: #000000; letter-spacing: 1.5px;}
.btns>li.on{background: linear-gradient(45deg,rgb(66, 136, 148),rgb(54, 87, 97)); color: linear-gradient(45deg,rgb(101, 138, 138),black);  box-shadow: 0px 5px 25px rgba(0,255,255,0.5); color: #fff;}



.contents{margin-top: 40px; display: flex; flex-wrap: wrap; justify-content: space-between;}
.box{width: 20%; box-sizing: border-box; padding: 12px;}



.inner{background: linear-gradient(45deg,rgb(165, 179, 179),rgb(113, 167, 170)); border-radius: 5px; padding: 15px; box-sizing: border-box;
  box-shadow:0 0 10px rgba(255, 255, 255, 0.4);}
.inner>a{display: block; }
.inner>a img{width: 100%; margin-bottom: 10px;
  border-radius: 3px;}
.inner>a p:nth-of-type(1){font-weight: 500;}
.inner>a p:nth-of-type(2){color: #f3f3f3; font-size: 13px;}
.inner>a p:nth-of-type(3){color: #f3f3f3; font-size: 12px;}






/*미디어쿼리*/
@media  all and (max-width:1200px) {
 .header{width: 100%; height: 80px; flex-direction: row; padding: 0; align-items: center; position: absolute;}
 .header_title>p{display: none;}
 .header_title::before{content: "THE SPACE NASA"; display: block; margin-left: 15px; font-size: 24px; font-weight: bold;}
.sns span{display: none;}
.sns li{font-size: 16px;}
.main{margin: 0;width: 100%; padding-top: 100px;}

}



/* box사이즈 조절 */
@media all and (max-width:1600px){
  .box{width: 25%;}
}
@media all and (max-width:900px){
  .box{width: 33.3%;}
}
@media all and (max-width:680px){
  .box{width: 50%;}
}
@media all and (max-width: 540px){
  .box{width: 100%;}
}




@media all and (min-width:1201px) and (max-width:1600px){
 .header{width: 350px;}
 .main{width: calc(100% - 350px); margin-left: 350px;}
}
